MAINICON ICON "Q:\\src\3rd_party\sajDev\bin\saj.ico"
1 VERSIONINFO
FILEVERSION 1,8,15,0
PRODUCTVERSION 1,8,15,0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x00L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x00L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
         BLOCK "041604E4"
         BEGIN
              VALUE "FileVersion", "1.8.15\0"
              VALUE "ProductVersion", "1.8.15\0"
              VALUE "Versao de Correcao", "1.8.15\0"
              VALUE "Usuario de Compilacao", "cesar.almeida\0"
              VALUE "Computador de Compilacao", "SOFT022-100\0"
              VALUE "Build number (Jenkins):", "0\0"
         END
    END
    BLOCK "VarFileInfo"
    BEGIN
         VALUE "Translation", 0x0416, 1252
    END
END
